# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

insurance=pd.read_csv("C:/Users/jesus/Desktop/Ironhack bootcamp/insurance_DF.csv")
df_2=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
df_3=pd.read_csv(("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"))

# df_3.info()

In [2]:
new_names= {'GENDER':"Gender",'Customer Lifetime Value':"Customer_Lifetime_Value",
       'Monthly Premium Auto':"Monthly_Premium_Auto", 'Number of Open Complaints':"Number_of_Open_Complaints",
       'Policy Type':'Policy_Type', 'Vehicle Class': 'Vehicle_Class', 'Total Claim Amount':"Total_Claim_Amount", "ST":"State"}

df_2= df_2.rename(columns=new_names)
df_3= df_3.rename(columns=new_names)

df_2= df_2.drop('Number_of_Open_Complaints',axis=1)
df_3= df_3.drop('Number_of_Open_Complaints',axis=1)
insurance= insurance.drop('Unnamed: 0',axis=1)
df_3.Customer_Lifetime_Value= df_3.Customer_Lifetime_Value.astype(object)

insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer                 1071 non-null   object
 1   State                    1071 non-null   object
 2   Gender                   954 non-null    object
 3   Education                1071 non-null   object
 4   Customer_Lifetime_Value  1072 non-null   float64
 5   Income                   1072 non-null   float64
 6   Monthly_Premium_Auto     1072 non-null   float64
 7   Policy_Type              1071 non-null   object
 8   Vehicle_Class            1071 non-null   object
 9   Total_Claim_Amount       1072 non-null   float64
dtypes: float64(4), object(6)
memory usage: 83.9+ KB

In [3]:
updated_insurance= pd.concat([insurance, df_2,df_3], axis=0)

updated_insurance.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9138 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer                 9137 non-null   object
 1   State                    9137 non-null   object
 2   Gender                   9015 non-null   object
 3   Education                9137 non-null   object
 4   Customer_Lifetime_Value  9134 non-null   object
 5   Income                   9138 non-null   float64
 6   Monthly_Premium_Auto     9138 non-null   float64
 7   Policy_Type              9137 non-null   object
 8   Vehicle_Class            9137 non-null   object
 9   Total_Claim_Amount       9138 non-null   float64
dtypes: float64(3), object(7)
memory usage: 785.3+ KB

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [21]:
cm_analysis=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

# cm_analysis.columns
display(cm_analysis.columns)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [ ]:
cm_analysis_short= cm_analysis[["monthly_premium_auto","sales_channel"]]
cm_analysis_short_pivot = cm_analysis_short.pivot_table(values="monthly_premium_auto", index="sales_channel",aggfunc='sum')
cm_analysis_short_pivot = cm_analysis_short_pivot.round(2)

display(cm_analysis_short_pivot)

# Based on the information displayed the majority of the revenue came directly from Agents. They had a total renevue of $386,335.00. 
# This demonstrate that the most efficient way of selling is definitely involving a face to face contact and communication as the second best in the revenue list is the branch.

               monthly_premium_auto
sales_channel
Agent                        386335
Branch                       280953
Call Center                  197970
Web                          151511

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [ ]:
import numpy as np
ins_lifetime=cm_analysis[["customer_lifetime_value", "education","gender"]]

ins_lifetime_pivot= ins_lifetime.pivot_table(aggfunc= "mean", values= "customer_lifetime_value", index="gender", columns="education")
ins_lifetime_pivot= ins_lifetime_pivot.round(2)

display(ins_lifetime_pivot)

#The first thing that caught my attention was that the Female customers with an education of high scholl or bellow are the ones with the highest average
#  as opposed to female with a doctorade who have the lowest avergae. One would think it should be the other way around. It should eb interesting to investigate and understand why is this happening.

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [7]:
# Your code goes here